[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-tanken
Exec=harbour-tanken
Name=Refuel
Name[de]=Refuel

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=de.richardliebscher
# ApplicationName does not have to be identical to Name
ApplicationName=refuel
# Add the required permissions here
Permissions=Internet;Location
