name: RPM Build

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*.*.*'

env:
  SFOS_RELEASE: 4.5.0.18

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check style
        run: python3 scripts/bad-style.py bad-style.xml

  build:
    strategy:
      matrix:
        arch: ["armv7hl", "i486", "aarch64"]

    runs-on: ubuntu-latest
    needs: [check]

    env:
      SFOS_ARCH: ${{ matrix.arch }}

    steps:
      - uses: actions/checkout@v4

      - name: Write .env file
        shell: bash
        run: echo "TANKERKOENIG_APIKEY=${{ secrets.TANKERKOENIG_APIKEY }}" >> .env

      - name: Build ${{ matrix.arch }} RPM
        uses: R1tschY/sailfish-build-rpm@v1
        with:
          arch: "${{ matrix.arch }}"
          release: "${{ env.SFOS_RELEASE }}"
          fix-version: false
          enable-debug: false

      - name: Upload build result
        uses: actions/upload-artifact@v4
        with:
          name: harbour-refuel-${{ matrix.arch }}
          path: RPMS
          compression-level: 0
  
  release:
    permissions:
      contents: write

    runs-on: ubuntu-latest

    if: startsWith(github.ref, 'refs/tags/v')

    needs: [build]
    
    steps:
      - name: 'Get version'
        id: version
        run: |
          REF="${{ github.ref }}"
          version=${REF#refs/tags/v}
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "Version: $version"
        shell: bash

      - name: Download RPMs
        uses: actions/download-artifact@v4
        with:
          path: RPMS
          pattern: harbour-refuel-*
          merge-multiple: true

      - name: Find RPMs
        id: rpms
        run: |
          ls -al RPMS
          echo "files<<EOF" >> $GITHUB_OUTPUT
          find RPMS -name '*.rpm' >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ steps.version.outputs.version }}
          files: ${{ steps.rpms.outputs.files }}

      - name: Upload to openrepos.net
        uses: R1tschY/upload-to-openrepos@v1
        with:
          login: ${{ vars.OPENREPOS_LOGIN }}
          password: ${{ secrets.OPENREPOS_PASSWORD }}
          app-name: 'Refuel'
          rpms: ${{ steps.rpms.outputs.files }}
    
